html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  /* display: flex; */
}

div#field {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.5;
  z-index: -1;
}

h1 {
  color: #0093fd;
  z-index: 1;
  font-family: 'Krupper';
  font-size: 3em;
  text-align: center;
  margin: auto;
  background: transparent;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  top: 45%;
  /* bottom: 50%; */

  /* margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  /* display: table; */
}

span:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Krupper';
  src: url('./Krupper.eot'); /* IE9 Compat Modes */
  src: url('./Krupper.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Krupper.woff') format('woff'), /* Modern Browsers */
       url('./Krupper.ttf')  format('truetype'), /* Safari, Android, iOS */
}