body {
  background-color: #85c4be;
/* display: flex; */
  height: 90vh;
  display: flex;
}

div.container{
  margin: auto;
  background-color: #EEF6F9;
  border-radius: 44px;
  width: 80%;
  min-height: 60vh;
  box-shadow: 0px 4px 74px 28px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
}

div.text {
  font-family: 'Raleway', sans-serif;
  /* margin-left: 7%; */
  margin-top: -6%;
}

h1.title{
  color:#0E6D76;
  font-size: 4.5em;
  margin-bottom: 15%;
}

h2.subtitle{
  color: #E0957B;
  font-size: 3em;
  margin-bottom: 15%;
  margin-right: 5%;
}

button{
  border-radius: 115px;
  color: #0E6D76;
  border: 1px solid #0E6D76;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  padding: 20px;
  height: 100%;
  margin-right: 5%;
  cursor: pointer;
}

button:hover{
  transition: 0.3s;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(143, 112, 112, 0.12);

}

button.work{
  /* margin-left: 7%; */
  background: #EEF6F9;
}
button.work:hover{
  color:#E0957B;
}

button.contact{
  background: #bddfdd;
}
button.contact:hover{
  color:#EEF6F9;
}

div.photo{
  width: 350px;
  height: 350px;
  background-image: url('./main.jpg');
  border-radius: 50%;
  background-position: top;
  background-size: cover;
  border: 4px solid #85C4BE;
  
}

div.left-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 7%;
}
div.right-column{
  margin-right: 7%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1223px) {
  body {
    background-color: lightblue;
  }
}