body {
  height: 98vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

form {
  display: inline;
}

div.form{
  margin-bottom: 4%;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
}

div.container{
  margin: auto;
  background-color: #EEF6F9;
  border-radius: 44px;
  width: 80%;
  min-height: 60vh;
  box-shadow: 0px 4px 74px 28px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
}

div.text {
  font-family: 'Raleway', sans-serif;
  /* margin-left: 7%; */
  margin-top: -6%;
}

h1.title{
  color:#0E6D76;
  font-size: 4.5em;
  margin-bottom: 15%;
  margin-top: 6%
}

h2.subtitle{
  color: #E0957B;
  font-size: 3em;
  margin-bottom: 15%;
  margin-right: 5%;
}

input{
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
  border-radius: 115px;
  color: #0E6D76;
  border: 1px solid #0E6D76;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  padding: 20px;
  height: 100%;
  margin-right: 5%;
  cursor: pointer;
}

input:hover{
  transition: 0.3s;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;


}

input.work{
  /* margin-left: 7%; */
  background: #EEF6F9;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}
input.work:hover{
  color:#E0957B;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}

input.contact{
  background: #bddfdd;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}
input.contact:hover{
  color:#EEF6F9;
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}

div.photo{
  width: 350px;
  height: 350px;
  background-image: url('./main.jpg');
  border-radius: 50%;
  background-position: top;
  background-size: cover;
  border: 4px solid #85C4BE;
  
}

div.left-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-left: 7%;
}
div.right-column{
  margin-right: 7%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@media only screen and (max-width: 1223px) {
  body {
    background-color: #85c4be;
    height: 95vh;
    display: flex;  
  }

  div.container{
    margin: auto;
    background-color: #EEF6F9;
    border-radius: 44px;
    width: 85%;
    max-height: 85vh;
    box-shadow: 0px 4px 74px 28px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 3%
  }
  
  div.text {
    font-family: 'Raleway', sans-serif;
    /* margin-left: 7%; */
    margin-top: -6%;
    text-align: center;
  }
  
  h1.title{
    color:#0E6D76;
    font-size: 4.5em;
    margin-bottom: 7%;
  }
  
  h2.subtitle{
    color: #E0957B;
    font-size: 3em;
    margin-bottom: 7%;
    margin-right: 0%;
  }
  
  div.form{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  input{
    border-radius: 115px;
    color: #0E6D76;
    border: 1px solid #0E6D76;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    padding: 20px;
    height: 100%;
    margin-right: 0%;
    cursor: pointer;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  
  input:hover{
    transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
  }
  
  input.work{
    /* margin-left: 7%; */
    background: #EEF6F9;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  input.work:hover{
    color:#E0957B;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  
  input.contact{
    background: #bddfdd;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  input.contact:hover{
    color:#EEF6F9;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  
  div.photo{
    width: 250px;
    height: 250px;
    background-image: url('./main.jpg');
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    border: 4px solid #85C4BE;
    
  }
  
  div.left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 0%;
  }
  div.right-column{
    margin-right: 0%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}




@media only screen and (max-width: 510px) {
  body {
    background-color: #85c4be;
    height: 95vh;
    display: flex;  
  }

  div.container{
    margin: auto;
    background-color: #EEF6F9;
    border-radius: 44px;
    width: 85%;
    min-height: 85vh;
    box-shadow: 0px 4px 74px 28px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 3%
  }
  
  div.text {
    font-family: 'Raleway', sans-serif;
    /* margin-left: 7%; */
    margin-top: -6%;
    text-align: center;
  }
  
  h1.title{
    color:#0E6D76;
    font-size: 3.5em;
    margin-bottom: 15%;
  }
  
  h2.subtitle{
    color: #E0957B;
    font-size: 2em;
    margin-bottom: 15%;
    margin-right: 0%;
  }
  
  div.form{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  input{
    border-radius: 115px;
    color: #0E6D76;
    border: 1px solid #0E6D76;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding: 20px;
    height: 100%;
    margin-right: 0%;
    cursor: pointer;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  
  input:hover{
    transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
  }
  
  input.work{
    /* margin-left: 7%; */
    background: #EEF6F9;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  input.work:hover{
    color:#E0957B;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  
  input.contact{
    background: #bddfdd;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  input.contact:hover{
    color:#EEF6F9;
    -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

  }
  
  div.photo{
    width: 200px;
    height: 200px;
    background-image: url('./main.jpg');
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    border: 4px solid #85C4BE;
    
  }
  
  div.left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 0%;
  }
  div.right-column{
    margin-right: 0%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }}


  @media only screen and (max-height: 644px) {
    div.photo{
      display: none;
    }
  }

  @media only screen and (max-height: 567px) {
    body {
      background-color: #85c4be;
    /* display: flex; */
      height: 90vh;
      display: flex;
    }
    
    form {
      display: inline;
    }
    
    div.form{
      margin-bottom: 4%;
    }
       
    div.container{
      margin: auto;
      background-color: #EEF6F9;
      border-radius: 44px;
      width: 90%;
      height: 90vh;
      box-shadow: 0px 4px 74px 28px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: row;
    }
    
    div.text {
      font-family: 'Raleway', sans-serif;
      /* margin-left: 7%; */
      margin-top: -6%;
    }
    
    h1.title{
      color:#0E6D76;
      font-size: 2em;
      margin-bottom: 2%;
      margin-top: 6%
    }
    
    h2.subtitle{
      color: #E0957B;
      font-size: 1.5em;
      margin-bottom: 2%;
      margin-right: 5%;
    }
    
    input{
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
      border-radius: 115px;
      color: #0E6D76;
      border: 1px solid #0E6D76;
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      padding: 20px;
      height: 100%;
      margin-right: 5%;
      cursor: pointer;
    }
    
    input:hover{
      transition: 0.3s;
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    
    }
    
    input.work{
      /* margin-left: 7%; */
      background: #EEF6F9;
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    }
    input.work:hover{
      color:#E0957B;
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    }
    
    input.contact{
      background: #bddfdd;
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    }
    input.contact:hover{
      color:#EEF6F9;
      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    }
    
    div.photo{
      display: block;
      width: 200px;
      height: 200px;
      background-image: url('./main.jpg');
      border-radius: 50%;
      background-position: top;
      background-size: cover;
      border: 4px solid #85C4BE;
      
    }
    
    div.left-column{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      margin-left: 7%;
    }
    div.right-column{
      margin-right: 7%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
  }

  div#card{
    height: 100vh;
    background-color: #85c4be;
    width: 100%;
    display: flex;
  }
  
  div#Alfresco{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #85C4BE 0%, #FEDDD3 100%);
    }
  
  
  div#Alfresco-feedback{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #FEDDD3 0%, #0E6D76 100%);
      }
  
    div#Tweeter{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #0E6D76 0%, #EEF6F9 100%);
      }
    div#get-in-touch{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, #EEF6F9 0%, #E0957B 100%);
        }

  div#Alfresco-container {
    background: #FFFFFF;
    backdrop-filter: blur(4px);
  }

  h1#Alfresco {
    font-family: 'Lobster', cursive;
    color: #5088F7;
  }
  h1#Alfresco-feedback {
    font-family: 'Lobster', cursive;
    color: #5088F7;
    margin: 10px;
  }

  div#Alfresco-feedback-container {
    min-height: 95vh;
  }

  h1#Tweeter {
    font-family: 'Bungee', cursive;
    color: #5088F7;
  }

  img.project-image {
    max-width: 100%;
  }
