html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  /* display: flex; */
}

div#field {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0.5;
  z-index: -1;
}

h1 {
  color: #0093fd;
  z-index: 1;
  font-family: 'Krupper';
  font-size: 3em;
  text-align: center;
  margin: auto;
  background: transparent;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  top: 15%;
  /* bottom: 50%; */

  /* margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  /* display: table; */
}

span:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Krupper';
  src: url('./Krupper.eot'); /* IE9 Compat Modes */
  src: url('./Krupper.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Krupper.woff') format('woff'), /* Modern Browsers */
       url('./Krupper.ttf')  format('truetype'), /* Safari, Android, iOS */
}


.kave-btn {
  position: relative;
  border: solid 1px rgba(0, 214, 252, 0.3);
  background: none;
  color: #0093fd;
  font-size: 0.5em;
  font-family: "Krupper", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 200px;
  height: 70px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
}
.kave-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(-1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-btn:hover {
  box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
  color: #00d6fc;
  text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}
.kave-btn:hover.kave-btn:before {
  left: 0;
  width: 20px;
}
.kave-btn:hover.kave-btn:after {
  right: 0;
  width: 20px;
}
.kave-btn:hover .kave-line:before {
  bottom: 0;
}
.kave-btn:hover .kave-line:after {
  top: 0;
}
.kave-line:before {
  content: "";
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 1px;
  height: 20px;
  transform: translateX(1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-line:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 1px;
  height: 20px;
  transform: translateX(-1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}

div#block {
  height: 30%;
}