<!doctype html>
<html lang="en">
  <head>  
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="styles.css">
      <link rel="icon" type="image/ico" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-01-22/f78bc6737ffceffacd3c0b0a35bce6a5.ico"/>
      <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@0,100;0,400;0,700;1,900&display=swap" rel="stylesheet">
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MHDVWXB3K3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-MHDVWXB3K3');
    </script>

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/resume/idGeneratedStyles.css">
  </head>
  <body>
      {{ content }}
  </body>
</html>